#root{
    height: 100%;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}


header.title{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

main{
    padding: 10px;
    overflow: auto;
    height: 90%;

}

footer.foot{
    padding: 10px;
    height: 100px;
    text-align: center;
    width: 100%;
    background-color: blue;
    margin-top: 10px;
   
    color: white;
}